In [2]:
import pandas as pd

In [21]:
df = pd.DataFrame({'key': ['A', 'B', 'C', 'A', 'B', 'e'],
                   'data': range(6)}, columns=['key', 'data'])

In [22]:
df

  key  data
0   A     0
1   B     1
2   C     2
3   A     3
4   B     4
5   e     5

In [45]:
groups= df['data'].groupby(df['key'])

In [46]:
groups.dtype

key
A    int64
B    int64
C    int64
e    int64
Name: data, dtype: object

In [52]:
for key,group in groups:
    print(group)
    print(key)
    print("-------------")

0    0
3    3
Name: data, dtype: int64
A
-------------
1    1
4    4
Name: data, dtype: int64
B
-------------
2    2
Name: data, dtype: int64
C
-------------
5    5
Name: data, dtype: int64
e
-------------

In [48]:
unique_list=[]
for key,group in groups:
    if len(group.unique())==1:
        unique_list.append(key)

In [49]:
unique_list

['C', 'e']